[Desktop Entry]
Comment[en_US]=Administer Library Database
Comment=Administer Library Database
Exec=/home/lmauro/Work/Workspaces/Pycharm/LibraryAdmin/libraryadmin.py
GenericName[en_US]=Administer Library Database
GenericName=Administer Library Database
Icon=/usr/share/icons/oxygen/base/64x64/apps/acroread.png
MimeType=
Name[en_US]=Library Admin
Name=Library Admin
Path=/home/lmauro
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
