[Desktop Entry]
Name=Library Admin
GenericName=Library Administration
Exec=/home/leomauro/Work/Workspaces/Pycharm/LibraryAdmin/main.py
Icon=acroread
Comment=Library Administration
Path=/home/leomauro
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
